<form 
    class="row g-3 needs-validation"
    novalidate
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
 >
    <div class="col-12">
      <label class="form-label row">Nombre</label>
      <input 
        type="text" 
        class="form-control" 
        formControlName="nombre"
        >
      <div class="row col-12 text-danger" *ngIf="nameControl.errors?.['required'] === true  && nameControl.touched">
          El nombre es obligatorio.
      </div>
      <div class="row col-12 text-danger" *ngIf="nameControl.errors?.['minlength']  && nameControl.touched">
          El nombre debe tener al menos 4 caracteres.
      </div>
    </div>
    <div class="col-12">
      <label class="form-label row">Ususario</label>
      <div class="input-group d">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input
            type="text"
            [ngClass]="userControl.valid ? 'is-valid' : ''"
            class="form-control row"
            formControlName="usuario"
        >
        <div class=" row col-12 text-danger" *ngIf="userControl.errors?.['required'] === true  && userControl.touched">
          Por favor ingresa tu nombre de usuario.
        </div>
        <div class=" row col-12 text-danger" *ngIf="userControl.errors?.['minlength']  && userControl.touched">
          El nombre debe tener al menos 6 caracteres.
        </div>
      </div>
    </div>
    <div class="col-12">
      <label for="validationCustomUsername" class="form-label row">Correo</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input 
            type="text" 
            class="form-control" 
            formControlName="email"
            >
        <div class="row col-12 text-danger" *ngIf="emailControl.errors?.['required'] === true  && emailControl.touched">
          Por favor ingresa un correo electronico
        </div>
        <div class="row col-12 text-danger" *ngIf="emailControl.errors?.['email'] === true  && emailControl.touched">
          Por favor ingresa un correo electronico valido.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Registrarme</button>
    </div>
  </form>